.about {
    margin-top: 60px;
    width: auto;
    padding: 0 20px;
}

.about__container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about__title {
    font-size: 48px;
    color: #545852;
    -webkit-text-stroke: 1px #1f2220;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.about__section {
    margin-bottom: 30px;
}

.about__subtitle {
    font-size: 28px;
    color: #3d4638;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 15px;
}

.about__text {
    font-size: 20px;
    color: #3d4638;
    font-family: "Pixelify Sans", sans-serif;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about__link {
    color: #3d4638;
    text-decoration: underline;
    font-weight: bold;
}

.about__image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s;
}

.about__image.element-show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 480px) {
    .about__container {
        padding: 20px;
    }
    
    .about__title {
        font-size: 36px;
    }
    
    .about__subtitle {
        font-size: 24px;
    }
    
    .about__text {
        font-size: 16px;
    }
}